Q1. How do you comment code in Python? What are the different types of comments?

In [1]:
# This is a single-line comment
'''
This is a
multi-line
comment
'''
"""
This is also a
multi-line
comment
"""

'\nThis is also a\nmulti-line\ncomment\n'

Q2. What are variables in Python? How do you declare and assign values to variables?

In [4]:
variable_name = "value"
#Declaration and assignment separately:

variable_name = None  # Declaration
variable_name = "value"  # Assignment

In [5]:
# Integer variable
age = 25

# Float variable
temperature = 98.6

# String variable
name = "shashank_singh"

# Boolean variable
is_valid = True

# List variable
numbers = [1, 2, 3, 4, 5]

# Dictionary variable
person = {'name': 'shashank', 'age': 20}

Q3. How do you convert one data type to another in Python?

In [6]:
# Integer to float
x = 10
y = float(x)

# Float to integer
a = 5.6
b = int(a)

# String to integer
s = "123"
i = int(s)

# Integer to string
n = 456
s = str(n)

Q4. How do you write and execute a Python script from the command line?

In [11]:
print("Hello, world!")
# cd path/to/directory

Hello, world!

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [12]:
my_list = [1, 2, 3, 4, 5]

sub_list = my_list[1:3]  # Slicing from index 1 (inclusive) to index 3 (exclusive)
print(sub_list)  # Output: [2, 3]

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

In [13]:
z1 = 3 + 2j  # 3 is the real part, 2 is the imaginary part
z2 = 1 - 4j  # 1 is the real part, -4 is the imaginary part

In [14]:
z1

(3+2j)

In [15]:
z2

(1-4j)

In [16]:
z1.real

3.0

In [18]:
z1.imag

2.0

In [19]:
z2.imag

-4.0

In [20]:
z2.real

1.0

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [21]:
age = 25

In [22]:
age

25

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [24]:
age = 25 # this is correct way 
# 123 = 25 this is the wrong way

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [25]:
name = "shashank_singh"
print(name)

shashank_singh

Q10. Given the string "Hello, World!", extract the substring "World".

In [26]:
string = "Hello, World!"
substring = string[7:12]
print(substring)

World

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [27]:
is_student = True  # if you are currently a student
is_student = False  # if you are not currently a student